@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        @apply mx-auto px-6;
    }
    .button {
        @apply w-full py-2 px-4 rounded-full bg-indigo-500 hover:bg-indigo-600 focus:outline-none flex items-center justify-center;
    }
    .icon-button {
        @apply inline-flex items-center p-2 rounded-lg focus:ring-2;
    }
    .button-light {
        @apply text-white ring-white;
    }
    .input {
        @apply block w-full p-2 bg-transparent text-sm border text-white border-gray-700 rounded-lg focus:border-gray-300 focus:outline-none;
    }
    .nav-link {
        @apply font-medium tracking-wider py-2 pl-3 pr-4 text-white hover:bg-blue-700 rounded hover:lg:bg-transparent hover:lg:text-blue-700 lg:p-0;
    }
    .active-link {
        @apply bg-blue-700 lg:bg-transparent lg:text-blue-700;
    }
}
